<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
    <tr>
	  <th>follows</th>
	  <th><%= link_to follow_users_user_path(user) do %>
	    <%= user.following_users.count %>
	  <% end %></th>
  </tr>
    <tr>
	  <th>followers</th>
	  <th><%= link_to follower_users_user_path(user) do %>
	    <%= user.followed_users.count %>
	  <% end %></th>
  </tr>
</table>

<% unless user.guest_user? %>
  <div class='row'>
    <% if current_user != user %>
      <% if user.followed_by?(current_user) %>
        <%= link_to "フォローをはずす", user_relationship_path(user), method: :delete, class: "btn btn-success btn-sm" %>
      <% else %>
        <%= link_to "フォローする", user_relationship_path(user), method: :post, class: "btn btn-success btn-sm" %>
      <% end %>

      <% if (current_user.followed_by?(@user)) && (@user.followed_by?(current_user)) %>
        <% if @is_room == true %>
          <%= link_to "メッセージへ", room_path(@room_id) %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class: "btn btn-danger btn-sm ml-3" %>
          <% end %>
        <% end %>
      <% end %>

    <% else %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
  </div>
<% end %>